<mat-toolbar class="app-title" color="accent">Cadastrar Reserva</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50" *ngIf="cadastro">
    <form autocomplete="off" novalidate [formGroup]="cadastro" (ngSubmit)="onSubmit()" (ngReset)="onCancel()">
      <mat-card-content>
        <app-input-text titulo="Seu Nome*" controlName="primeiroNome" [formGroup]="cadastro"></app-input-text>
        <app-input-text titulo="Seu Sobrenome" controlName="segundoNome" [formGroup]="cadastro"></app-input-text>
        <app-input-text titulo="E-mail*" controlName="email" [formGroup]="cadastro"></app-input-text>
        <app-input-number titulo="Quantidade de Pessoas*" controlName="qtdePessoas" [formGroup]="cadastro"></app-input-number>

        <mat-form-field class="paddingBottom">
          <mat-label>Data de Estadia*</mat-label>
          <mat-date-range-input [min]="minDate" [formGroup]="cadastro" [rangePicker]="picker">
            <input readonly matStartDate formControlName="dtChegada" placeholder="Chegada">
            <input readonly matEndDate formControlName="dtSaida" placeholder="Partida">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        
          <mat-error *ngIf="cadastro.controls.dtChegada.hasError('required') || 
                            cadastro.controls.dtSaida.hasError('required')">Campo Obrigatório</mat-error>
          <mat-error *ngIf="cadastro.errors">Partida deve ser maior que Chegada</mat-error>
        </mat-form-field>
        
        <app-input-select titulo="Hora da Chegada*" [opcoes]="timeE" controlName="timeChegada" [formGroup]="cadastro"></app-input-select>
        <app-input-select titulo="Hora da Saída*" [opcoes]="timeS" controlName="timeSaida" [formGroup]="cadastro"></app-input-select>
        <!--
        <app-input-date titulo="Data de Chegada*" controlName="dtChegada" [formGroup]="cadastro"></app-input-date>
        <app-input-date titulo="Data de Saída*" controlName="dtSaida" [formGroup]="cadastro"></app-input-date>
        -->
        <app-input-select titulo="Transporte grátis?*" [opcoes]="resposta" controlName="transpGratis" [formGroup]="cadastro"></app-input-select>
        <app-input-text titulo="Código do Voo" controlName="codigoVoo" [formGroup]="cadastro"></app-input-text>
        <app-input-text-area titulo="Requisitos Especiais" controlName="reqEspeciais" [formGroup]="cadastro"></app-input-text-area>
        <app-input-select titulo="Status" [opcoes]="situacao" controlName="status" [formGroup]="cadastro"></app-input-select>
        </mat-card-content>
      <mat-card-actions>
        <button type="submit" color="accent" mat-raised-button [disabled]="!cadastro.valid">Salvar</button>
        <button type="reset" color="warn" mat-raised-button (click)="onCancel()">Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>