.home-content {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    justify-content: space-evenly;
    padding: 10px;
  }
  
  .app-title {
    text-transform: uppercase;
    padding-left: 26px;
    justify-content: center;
    margin: 10px auto;
  }

  .mat-card-image {
    width: 182px;
    height: 268px;
    margin: auto;
    display: block;
  }
  
  .filtro-listagem {
    padding-left: 30px;
    padding-bottom: 30px;
    width: calc(50% - 50px);
  }

  .buttonCadastrar {
    margin-top: 3%;
    margin-left: 5%;
  }

  .semRegistro {
    margin-left: 10%;
    justify-content: center;
  }

  table {
    width: 100%;
  }