<mat-toolbar class="app-title">Reservas Cadastradas</mat-toolbar>
<table mat-table [dataSource]="reservas" class="mat-elevation-z8">

    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome do cliente</th>
        <td mat-cell *matCellDef="let reserva"> {{reserva.primeiroNome}} {{reserva.segundoNome}}</td>
    </ng-container>

    <!-- Data de Chegada Column -->
    <ng-container matColumnDef="dtChegada">
        <th mat-header-cell *matHeaderCellDef> Data de Chegada </th>
        <td mat-cell *matCellDef="let reserva"> {{reserva.dtChegada | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Data de Saida Column -->
    <ng-container matColumnDef="dtSaida">
        <th mat-header-cell *matHeaderCellDef> Data de Saida </th>
        <td mat-cell *matCellDef="let reserva"> {{reserva.dtSaida | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Situação </th>
        <td mat-cell *matCellDef="let reserva"> {{reserva.status}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell  *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row" >
            <button color="accent" mat-raised-button (click)="edit(row.id)" [disabled]="checkStatus(row.status)">Editar</button>
            <button color="warn" mat-raised-button (click)="delete(row.id)" [disabled]="checkStatus(row.status)">Excluir</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
</table>